.App-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30rem;
    height: 50px;
   
}
.Signup-creator{color: rgb(0, 0, 0);
    background-color: #FFFFFF;
    width: 23rem;
    padding: 1rem;
    margin: 1rem auto;
    border: solid 0.5px gray;
    border-radius: 6px;
    font-size: 1rem;}

.login{   border-radius: 6px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    padding: 5px 5px;
width: 60px;}
.cards-container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 4rem;

}

.actor-space{
    background-color: #EFF3F6;
    height: 100vh;


}
.Signup-busuiness{
    color: white;
    background-color: #f29219;
    width: 23rem;
    padding: 1rem;
    margin: 1rem auto;
    border: solid 0.5px gray;
    border-radius: 6px;
    font-size: 1rem;
    }