.custom-sider {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.custom-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

}

.menu-body {
  flex-grow: 1;
  overflow-y: auto;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings-menu-item {
  margin-bottom: 16px; /* Adds space between Users and Settings */
}

/* index.css */
.profile-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.profile-footer .profile-info {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-footer .profile-name {
  font-weight: bold;
  font-size: 14px;
}

.profile-footer .profile-email {
  font-size: 12px;
  color: #8c8c8c;
}

.profile-footer .logout-icon {
  font-size: 18px;
  color :black;
  cursor: pointer;
}

.profile-footer .logout-icon:hover {
  color: #FFA000;
}

.profile-avatar {
  border: 2px solid black;
  padding: 2px;
  border-radius: 50%;
}

.fixed-settings {
  position: absolute;
  bottom: 90px;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
}
