.custom-sider {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.custom-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.menu-body {
  flex-grow: 1;
  overflow-y: auto;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings-menu-item {
  margin-bottom: 16px; /* Adds space between Users and Settings */
}

.profile-footer {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: #fff; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
  flex-grow: 1;
  margin-left: 5px;
}

.logout-icon {
  font-size: 18px;
  color: #f5222d;
  cursor: pointer;
}
