.signup-button{width: 410px;
    height: 40px;
    top: 437px;
background-color: #F29219;
    gap: 20px;
    border-radius: 6px 6px 6px 6px;
    opacity: 0px;
    color: white;

   border-color: #F26236;
    }