.social-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
    text-align: center;
  }
  
  .animated-text {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
  }
  
  .social-icons-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icon {
    font-size: 60px;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .social-icon:hover {
    transform: scale(1.3);
  }
  
  .facebook-icon {
    color: #3b5998;
  }
  
  .instagram-icon {
    color: #e4405f;
  }
  
  .twitter-icon {
    color: #1DA1F2;
  }
  
  .tiktok-icon {
    color: #000000;
  }
  
  .ant-modal {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .ant-modal-header {
    background-color: #f0f2f5;
    text-align: center;
  }
  
  .ant-modal-footer {
    display: flex;
    justify-content: center;
  }
  
  .ant-btn-primary {
    background-color: #3b5998;
    border-color: #3b5998;
  }
  
  .instagram-icon:hover + .ant-btn-primary,
  .ant-btn-primary:hover {
    background-color: #e4405f;
    border-color: #e4405f;
  }
  
  .twitter-icon:hover + .ant-btn-primary {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
  }
  
  .tiktok-icon:hover + .ant-btn-primary {
    background-color: #000000;
    border-color: #000000;
  }
  